{
  "game_dir": "",
  "version": "2.1.4",
  "update_check_url": "https://raw.githubusercontent.com/nncfkkp/NTE-XYZN-SoundPatch-versionup/main/config.json.example",
  "release_page": "https://github.com/nncfkkp/NTE-XYZN-SoundPatch-versionup",
  "data_version": "2.1.4",
  "data_url": "https://raw.githubusercontent.com/nncfkkp/NTE-XYZN-SoundPatch-versionup/main/data/songs.json?v=2.1.4",
  "data_sha256": "36006a6fa672786669bb89558126920d7c3794175b7c9a4a539f56010a28177b",
  "templates_url": "https://raw.githubusercontent.com/nncfkkp/NTE-XYZN-SoundPatch-versionup/main/data/templates.json?v=2.1.4",
  "templates_sha256": "6300190ba7c758a0ad44460b12b89fcb2b387f6aded65c9fdb3864021763836d",
  "replace_state": {}
}
