{
  "game_dir": "游戏安装目录",
  "version": "2.0.0",
  "update_check_url": "https://raw.githubusercontent.com/nncfkkp/NTE-XYZN-SoundPatch/main/config.json.example",
  "release_page": "https://github.com/nncfkkp/NTE-XYZN-SoundPatch/releases",
  "replace_state": {}
}